.txt-hold-hold {
	width:90%;
	max-width: 1300px;
	margin: 0 auto;
}

.txt-holder {
	text-align: left;
}

#group7 {
    .ccc-hbolder {
        .c-career {
            padding-bottom: 130px;

            @media(min-width: 811px) {
                padding-bottom: 0;
            }
        }
    }
}


.home-para, .page-id-107 {
    @media(min-width: 811px) {
        overflow: hidden;
    }
}

.subpage-wrap {
    border-bottom: 2px dashed #d8d8d8;

    &:last-of-type {
        border: 0;
    }
}