// charles-font

#sidebar1 .sidebar-intro li {
	list-style-position: outside;
	position: relative;
	padding-left: 1em;
}

#sidebar-intro {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  padding: .65em 0px;
  width: 100%;
  margin-top: 80px;
  font-size: .9em;
  max-width: none;
  line-height: 1.5em;

  h2, h3 {
  	margin-bottom: 0;
  }
}



#sidebar-intro ul li:before {
	color: #ed228b;
	content: "\2022";
	font-size: 1.5em;
	padding-right: .25em;
	position: relative;
	top: 0;
	position: absolute;
	left: 0;
	display: block;
	width: 1em;
	height: 1em;
}