// charles-font

#sidebar1 .sidebar-intro li {
	list-style-position: outside;
	position: relative;
	padding-left: 1.25em;
}

#sidebar-intro {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  padding: .65em 0px;
  width: 100%;
  margin-top: 80px;
  font-size: .9em;
  max-width: none;
  line-height: 1.5em;
  h2 {
  	line-height: 1.2em;
  }
  h2, h3 {
  	margin-bottom: 0;
  }
}



#sidebar-intro ul {
	margin-top:0;
	margin-bottom: 2em;

	li:before {
		color: #ed228b;
		content: "\2022";
		font-size: 1.5em;
		padding-right: .25em;
		position: relative;
		top: 0;
		position: absolute;
		left: 0;
		display: block;
		width: 1em;
		height: 1em;
	}
}

h2,.h2,
h3 {
	line-height: 1.3em;
}

.sub-page-content-wrapper h1 {
	width: 100%;
}

* {
	// -webkit-hyphens:manual;
	// -moz-hyphens:manual;
	// hyphens:manual;

-ms-word-break: normal;
     word-break: normal;
       word-break: normal;

     /* Non standard for webkit */
     word-break: normal;

-webkit-hyphens: none;
   -moz-hyphens: none;
    -ms-hyphens: none;
        hyphens: none;


}



@media (max-width: 767px) {
	#inner-content {
		width: 90%;
	}
}

.sub-page-content-wrapper {
	margin-top:0;
	background-color: white;
	padding: 20px 0 20px 0;

	h1 { margin-top:0; }
	@media(min-width: 768px) {
		padding: 20px 0 20px 20px;
		margin-top: -150px;
		h1 {
			margin-top:.67em;
		}
	}

	@media(min-width: 811px) {
		padding: 20px 8% 20px 8%;
	}
}

.archive .sub-page-content-wrapper {

	@media(min-width: 768px) {
		margin-top: -190px;
	}
}

.single .sub-page-content-wrapper {
	padding-top:0;
	@media(min-width: 768px) {
		margin-top: 0;
		padding-top:0;
	}
}

h1 {
	font-size: 2.5em;

	@media(min-width: 550px) {
		font-size: 3.65em;
	}
}

.our-solutions-list-wrapper {
	margin-left: 0;
	@media(min-width: 550px) {
		margin-left: 8%;
	}
}


.our-solutions-list img {
	height: auto;
}

@media(min-width: 500px) {
	.our-solutions-list img {
		height:5em;
	}
}

// HOVER STYLES FOR INDIVIDUAL BIZ PRODUCTS PAGES
// PROGRAMMATIC
.page-id-11 {
	#main {
		a {
			color: #dd1420;
			@include prefix(transition, all 200ms);

			&:hover {
				text-decoration: underline;
			}
		}
	}

	// mytest
	.secondary li.page_item {

	  a {
	    color:  rgb(98,98,98);
	  }

	 }
	 // end of test

	.secondary {
		.page_item.page-item-11 {
			a:hover {
				color: #dd1420;
				text-decoration: underline;
			}
		}
		.current_page_item {
			a {
				color: #dd1420 !important;
				&:hover {
					color: #dd1420;
					text-decoration: underline;
				}
			}
		}
		a {
			color: #dd1420;
			@include prefix(transition, all 200ms);
			&:hover {
				text-decoration: underline;
			}
		}
	}
}


.page-item-11 {
	a {
		// color: #dd1420;
		color:  rgb(98,98,98);
		@include prefix(transition, all 200ms);
	
		&:hover {
			color: #dd1420;
			text-decoration: underline;
		}
	}
}


// CROSSMEDIA
.page-id-13 {
	#main {
		a {
			color: #fba211;
			@include prefix(transition, all 200ms);

			&:hover {
				text-decoration: underline;
			}
		}
	}

	// mytest
	.secondary li.page_item {
	  a {
	    color:  rgb(98,98,98);
	  }
	 }
	 // end of test

	.secondary {
		.page_item.page-item-13 {
			a:hover {
				color: #fba211;
				text-decoration: underline;
			}
		}
		.current_page_item {
			a {
				color: #fba211 !important;	
				&:hover {
					color: #fba211;
					text-decoration: underline;
				}
			}
		}
		a {
			color: #fba211;
			@include prefix(transition, all 200ms);
			&:hover {
				color: #fba211;
				text-decoration: underline;
			}
		}
	}
}

.page-item-13 {
	a {
		// color: #fba211;
		color:  rgb(98,98,98);
			@include prefix(transition, all 200ms);
	
	&:hover {
			text-decoration: underline;
		}
	}
}


// REACH
.page-id-24 {
	#main {
		a {
			color: rgb(143, 199, 62);
			@include prefix(transition, all 200ms);

			&:hover {
				text-decoration: underline;
			}
		}
	}

	// mytest
	.secondary li.page_item {
	  a {
	    color:  rgb(98,98,98);
	  }

	 }
	// end of test

	.secondary {
		.page_item.page-item-24 {
			a:hover {
				color: rgb(143, 199, 62);
				text-decoration: underline;
			}
		}
		.current_page_item {
			a {
				color: rgb(143, 199, 62) !important;
				&:hover {
					color: rgb(143, 199, 62);
					text-decoration: underline;
				}
			}
		}
		a {
			color: rgb(143, 199, 62);
			@include prefix(transition, all 200ms);
			&:hover {
				color: rgb(143, 199, 62);
				text-decoration: underline;
			}
		}
	}
}

.page-item-24 {
	a {
		// color: rgb(143, 199, 62);
		color:  rgb(98,98,98);
		@include prefix(transition, all 200ms);
	
	&:hover {
			text-decoration: underline;
		}
	}
}

// REPS
.page-id-15 {
	#main {
		a {
			color: rgb(3, 159, 211);
			@include prefix(transition, all 200ms);

			&:hover {
				text-decoration: underline;
			}
		}
	}

	// mytest
	.secondary li.page_item {

	  a {
	    color:  rgb(98,98,98);
	  }

	 }
	 // end of test
	 
	.secondary {
		.page_item.page-item-15 {
			a:hover {
				color: rgb(3, 159, 211);
				text-decoration: underline;
			}
		}

		.current_page_item {
			a {
				color: rgb(3, 159, 211) !important;
				&:hover {
					color: rgb(3, 159, 211);
					text-decoration: underline;
				}
			}
		}
		a {
			color: rgb(3, 159, 211);
			@include prefix(transition, all 200ms);
			&:hover {
				color: rgb(3, 159, 211);
				text-decoration: underline;
			}
		}
	}
}

.page-item-15 {
	a {
		// color: rgb(3, 159, 211);
		color:  rgb(98,98,98);
		@include prefix(transition, all 200ms);
	
	&:hover {
			text-decoration: underline;
		}
	}
}

#sidebar1 > ul > li.page_item.page-item-13 > a:hover { color: #fba211; }
#sidebar1 > ul > li.page_item.page-item-15 > a:hover { color: rgb(3, 159, 211); }
#sidebar1 > ul > li.page_item.page-item-24 > a:hover { color: rgb(143, 199, 62); }
#sidebar1 > ul > li.page_item.page-item-11 > a:hover {  color: #dd1420; }

// NAV BAR RESPONSIVE STYLES

@media(min-width: 811px) {
		.nav {
		border: 0;
		ul {
			background:$black;
			margin-top:0;
		}
		li {
			float: left;
			position: relative;

			a {
				border-bottom: 0;

				/*
				you can use hover styles here even though this size
				has the possibility of being a mobile device.
				*/
				&:hover, &:focus {
					color: $white;
					text-decoration: underline;
				}
			}

			&:first-child {}
			&:last-child {}

			/*
			plan your menus and drop-downs wisely.
			*/
			ul.sub-menu,
			ul.children {
				margin-top: 0;
				border: 1px solid #ccc;
				border-top: 0;
				position: absolute;
				visibility: hidden;
				z-index: 8999;

				li {

					a {
						padding-left: 10px;
						border-right: 0;
						display: block;
						width: 180px;
						border-bottom: 1px solid #ccc;

						&:hover,
						&:focus {}

						&:link {}
					}

					&:first-child {}

					&:last-child {

						a {
							border-bottom: 0;
						}
					}

					/*
					if you need to go deeper, go nuts
					just remember deeper menus suck
					for usability. k, bai.
					*/
					ul {
						top:0;
						left:100%;
					}
				}

				/* highlight sub-menu current page */
				li.current-menu-item,
				li.current_page_item,
				li.current_page_ancestor {
					a {}
				}
			}

			/* showing sub-menus */
			&:hover > ul {
				top: auto;
				visibility:visible;
			}

		} /* end .menu ul li */

		/* highlight current page */
		li.current-menu-item,
		li.current_page_item,
		li.current_page_ancestor {
			a {}
		}  /* end current highlighters */

	} /* end .nav */

}



// PUSH FOOTER DOWN TO NOT HAVE COLOR BEAM INTERFERE
// body:not(.home) #content {
// body #content {
// 	// margin-bottom: 80px;
// }
body #content + div {
	clear: both;
	width: 100%;
	height: 80px;
	background: white;
}


// BULLETS ON COLUMNS
.lower-columns ul li ul li {
	// line-height: 16px;
	line-height:1.1rem;
	// padding: 4px 0;
	padding: .2rem 0;
	position: relative;
	padding-left: 1.25em;
}

.lower-columns ul li ul li:before {
	color: #ed228b;
	content: "\2022";
	font-size: 1.5em;
	padding-right: .25em;
	position: relative;
	top: .2rem;
	position: absolute;
	left: 0;
	display: block;
	width: 1em;
	height: 1em;
}

.page-id-13 {
	.lower-columns ul li ul li:before {
		color: #fba211;
	}
}

.page-id-15 {
	.lower-columns ul li ul li:before {
		color: #039fd3;
	}	
}

.page-id-24 {
	.lower-columns ul li ul li:before {
		color: rgb(143, 199, 62);
	}	
}

.page-id-11 {
	.lower-columns ul li ul li:before {
		color: #dd1420;
	}	
}


// SIDEBAR MOBILE STYLES

#sidebar1 {
  padding-left: 0;
  position: relative;
  @media(min-width: 811px) {
  	padding-left: 10px;
  }
}

// normal sidebar content override
.sidebar-selected {
  color: $brand-color;
}