// CONTACT MAPS FOR GOOGLE MAP
#map-canvas {
	background-size: cover;
	height: auto;
	margin: auto;
	min-height: 150px;
	padding-bottom: 20%;

	@media(min-width: 1600px) {
		padding-bottom: 300px;
	}
}

.wpcf7 {
	form > div {
		vertical-align: top;
	}
}