// CONTACT ADD ONS
.city {
	display: block;
	margin-top:0;
	margin-bottom: 1.5em;
	
	h3 {
		text-transform: uppercase;
		margin-top: .6em;
		margin-bottom: .6em;
		letter-spacing: .1em;
		font-size: .91rem;
	}
	 li {
	 	display: block;
	 	width: 100%;
	 	font-size: .87em;
		line-height: 1.5em;
	 }
}

.city-map-link {
	text-decoration: none;

	.city {
		color:rgb(50, 57, 68);
		@include prefix(transition, all 400ms);

		&:hover {
			color:#eb0a8d;
		}
	}
}