// CONTACT ADD ONS
.city {
	display: block;
	margin-top:0;
	margin-bottom: 1.5em;
	
	h3 {
		text-transform: uppercase;
		margin-top: .6em;
		margin-bottom: .6em;
		letter-spacing: .1em;
		font-size: .91rem;
	}
	 li {
	 	display: block;
	 	width:auto;
	 	font-size: .87em;
		line-height: 1.5em;

		float: left;
		clear: left;
		margin-left: 24px;
		margin-top:0.25em;
	 }
}

.city-map-link {
	text-decoration: none;

	.city {
		color:rgb(50, 57, 68);
		@include prefix(transition, all 400ms);

		&:hover {
			color:#eb0a8d;
		}
	}
}

.location-pin {
	float: left;
	width: 17px;
	position: absolute;
}

// OVERRIDE TABBY.CSS FOR ACTIVE TAB TEXT COLOR
.responsive-tabs__list__item--active {
	color: #ed228b !important;
}

// HIDE EXTRA GRAY LINE ADDED ON OVERVIEW PAGES
// PROBABLY INSERTED FROM WITHIN WYSIWYG IN WP ADMIN
.events-break {
	display: none;
}

.feat-img-holder {
	margin-bottom: 1em;
}