/* ==========================================================================
   Custom CSS
   ========================================================================== */

.highlight {
  color: $brand-color;
}

.footer-cols {
  display: inline-block;
  vertical-align: top;

}

// sidebar
#sidebar-title {
  font-family: Sentinel Medium;
}

.biz-content-wrapper {
  position: relative;

  border-bottom: 2px dashed #d8d8d8;
  padding-bottom: 80px;
  p {
    margin-top: 80px;
    // margin-left: 10%;
    margin-right: auto;
    margin-left:auto;
    color: black;
    width: 90%;
    font-size: 1.3em;
    margin-bottom: 0;

    @media(min-width: 768px) {
      width:60%;
    }
  }

  a {
    display: inline-block;
    // margin-left: 30%;
    margin-left: 5%;
    font-size: 1em;
    color: white !important;
    white-space: nowrap;
    text-align: center;
    background-color: $black;
    text-decoration: none;
    padding: 8px 15px;
    @include transition(all 0.2s);

    @media(min-width: 768px) {
      margin-left:10%;
    }

    @media(min-width: 960px) {
      margin-left:20%;
    }

    @media(min-width: 1041px) {
      margin-left: 30%;
    }
  }

  a:visited {
    color: white;
  }

  a:hover {
    @include transition(all 0.2s);
    .arrow-right {
      @include transition(all 0.2s);
      border-left: 6px solid white !important;
    }
    
  }


  div {
    margin-left: 20px;
    font-size: 3em;
    font-style: bold;
  }
}


.programmatic-intro-wrapper a:hover {
  background-color: $programmatic !important;
}

.reps-intro-wrapper a:hover {
  background-color: $reps !important;
}

.reach-intro-wrapper a:hover {
  background-color: $reach !important;
}

.crossmedia-intro-wrapper a:hover {
  background-color: $crossmedia !important;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid white;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  @include transition(all 0.2s);
}


.menu-item a:hover {
  color: $brand-color !important;
  text-decoration: none !important;
  @include transition(all 0.1s ease-in-out);
}

#sidebar-title {
  color: $brand-color;
  font-weight: 700px;
}

#sidebar-intro {
  border-top: 1px solid #626262;
  border-bottom: 1px solid #626262;
  padding: 10px 0px;
  width: 200px;
  margin-top: 80px;

}

.main-menu-selected a {
  color: $brand-color !important;
}

.sidebar-selected a {
  color: $black;
}

.slider-text {
  font-family: Sentinel Medium;
}

// biz units logos
.biz-logo-container img{
  margin: 0 0 0 0;

}

#pro-logo {
  margin-bottom: -0.8em;
}

#rep-logo {
  margin-bottom: -0.75em;
}

#rea-logo {
  margin-bottom: -0.35em;
}

#cro-logo {
  margin-bottom: -0.3em;
}


// biz units beams
.home-beam {
  width: 100%; 
  height: 7px;  
  
  background-size: 1247px 7px; 
  background-repeat: no-repeat; 
  background-position: top left;
}

.home-beam-container {
  overflow: hidden; 
  width: 44%; 
  height: 7px; 
  white-space: nowrap; 
  border-radius: 10px;
  position: absolute;
  bottom: 112px;
  right: 0;
}

.programmatic-intro-wrapper {
  .home-beam {
    background-image:url(../../../../../img/home-beams/programmatic-beam.png); 
  }
}

.reach-intro-wrapper {
  .home-beam {
    background-image:url(../../../../../img/home-beams/reach-beam.png); 
  }
}

.reps-intro-wrapper {
  .home-beam {
    background-image:url(../../../../../img/home-beams/reps-beam.png); 
  }
}

.crossmedia-intro-wrapper {
  .home-beam {
    background-image:url(../../../../../img/home-beams/crossmedia-beam.png); 
  }
}

// sub pages 
.sub-page-content-wrapper {
  margin-top: -150px;
  background-color: white;
  padding: 20px 10px 0px 90px;

  h1 {
    width: 70%;
  }
}

.our-solutions-list-wrapper {
  margin-left: 90px;
  border-top: 1px solid #aaa;
}

.our-solutions-list {
  border-bottom: 1px solid #aaa;
  padding: 10px 0 30px 0;

  .logo-larger {
    height: 3.5em;
  }

  .logo-smaller {
    height: 2.9em;
  }

  h2 {
    font-size: 1.2em;
  }
}


// test slide

    #homeSliderContainer{
      width:1600px;
      overflow: hidden;
      margin: auto;
    }

    #home-slider{
      position:relative;
      height:820px;
    }

    #bg{
      position: absolute;

      img {
        max-width: inherit !important;
      }
      
    }

    #fg{
      position: absolute;

      img {
        max-width: inherit !important;
      }
      
    }
