/* ==========================================================================
   Custom CSS
   ========================================================================== */
.footer-cols {
  display: inline-block;
  vertical-align: top;

}

.biz-content-wrapper {

  border-bottom: 2px dashed #d8d8d8;
  padding-bottom: 80px;
  p {
    margin-top: 80px;
    margin-left: 10%;
    color: black;
    width: 60%;
    font-size: 1.3em;
    margin-bottom: 0;
  }

  a {
    margin-left: 30%;
    font-size: 1em;
    color: white !important;
    white-space: nowrap;
    text-align: center;
    background-color: $black;
    text-decoration: none;
    padding: 10px 25px;
  }

  a:visited {
    color: white;
}


  div {
    margin-left: 20px;
    font-size: 3em;
    font-style: bold;
  }
}

.programmatic-intro-wrapper a:hover {
  color: $programmatic !important;
}

.convergence-intro-wrapper a:hover {
  color: $convergence !important;
}

.reps-intro-wrapper a:hover {
  color: $reps !important;
}

.reach-intro-wrapper a:hover {
  color: $reach !important;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 0.6em solid transparent;
  border-bottom: 0.6em solid transparent;
  border-left: 0.6em solid white;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
}

.menu-item a:hover {
  color: $brand-color !important;
  text-decoration: none !important;
  @include transition(all 0.1s ease-in-out);
}

#sidebar-title {
  color: $brand-color;
  font-weight: 700px;
}

#sidebar-intro {
  border-top: 1px solid #626262;
  border-bottom: 1px solid #626262;
  padding: 10px 0px;
  width: 200px;
  margin-top: 80px;

}

.main-menu-selected a {
  color: $brand-color !important;
}

.sidebar-selected a {
  color: $black;
}
