.client-info {
	display: inline-block;
	// display: block;
	// float:left;
	margin-right: 3em;
	position: relative;
	letter-spacing: .1em;
	font-size: .91em;
	vertical-align: top;

	//border-right: 1px solid $light-grey;
}

.headline {
	text-transform: uppercase;
	font-weight: 500;
	display: block;
}

.copy {
	margin-top: .6em;
	line-height: 1.5em;
	font-size: .91em;
}

.career-button {
	position: relative;
	text-align: center;
	// margin-right: 6em;
	float: right;
	margin-top: 30px;
	

	a {
		display:block;
		text-transform: uppercase;
		// font-size: 1em;
		font-size: .91em;
		white-space: nowrap;
		text-align: center;
		border: 2px solid #747474;
		color: #747474;
		font-weight: 500;
		// background-color: #323944;
		text-decoration: none;
		padding: 10px 35px;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;

		&:hover {
			background-color: $brand-color;
			color: $white;
			.arrow-right {
				border-left: 6px solid $white !important;
			}
		}
	}

	.careers-link {
		text-transform: uppercase;
		color: white;
		background-color: $footer_grey;
		display: block;

		&:after {
			content:"";
			display: block;
			height: 2px;

			position: absolute;
			top:0; bottom:0;
			right:2em;
			margin: auto;

			border-left:10px solid red;
			border-bottom: 5px solid transparent;
			border-top: 5px solid transparent;

		}


	}

}


.footer-logo-holder,
.social-media-links,
.social {
	display: inline-block;
}

.social {
	margin:.5rem;	
}

.footer {
	background-color: $footer_grey;
}

.footer-links {
	background-color:#000000;
	padding-top: 90px;
	padding-bottom: 90px;
}


.inner-footer {
	padding-bottom: 40px;
}

#policy-links {
	color: white;
}

.policy-links {
	> .copy {
		margin-top:0;
		font-weight: 500;
	}
}

#policy-links:hover {
	color: $brand-color;
}

.address {
	color: $light-grey;
}


.footer-bottom {
	height: 100px;
	color: #585858 !important;
	
	margin: auto;
	li {
		float: left;
		margin-right: 15px;
		font-size: 0.8em;
		letter-spacing: 0;
	}

	.copyright {
		display: inline-block;
		float: right;
		font-size: 0.8em;
		letter-spacing: 0;
		margin-top: 12px;
	}
}

.footer-left-column, .other-businesses-container {
	display: inline-block;
	vertical-align: top;
}

.headquarters-container {
	border-bottom: 1px dashed #565656;
}


.headquarter-title {
	text-transform: uppercase;
}

.other-businesses-content {
	margin-top: 1.2em;
	display: block;
}

.footer-contact-container {
	text-transform: uppercase;
}

