.client-info {
	display: inline-block;
	margin-right: 3em;
	position: relative;
	letter-spacing: .1em;
	font-size: .91em;
	vertical-align: top;

	@media(max-width: 530px) {
		margin-right: 1em;
	}
}

.headline {
	text-transform: uppercase;
	font-weight: 500;
	display: block;
	letter-spacing: 0.05em;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.copy {
	// margin-top: .6em;
	line-height: 1.5em;
	font-size: .91em;
}

.career-button {
	position: relative;
	text-align: center;
	float: right;
	margin-top: 30px;

	@media(max-width: 530px) {
		margin-top: 20px;
	}
	

	a {
		display:block;
		text-transform: uppercase;
		// font-size: 1em;
		font-size: .91em;
		white-space: nowrap;
		text-align: center;
		border: 2px solid #747474;
		color: #747474;
		font-weight: 500;
		// background-color: #323944;
		text-decoration: none;
		padding: 10px 35px;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;

		@media(max-width: 890px) {
			padding: 8px 15px;
		}

		&:hover {
			background-color: $brand-color;
			color: $white;
			.arrow-right {
				border-left: 6px solid $white !important;
			}
		}
	}

	.careers-link {
		text-transform: uppercase;
		color: white;
		background-color: $footer_grey;
		display: block;

		&:after {
			content:"";
			display: block;
			height: 2px;

			position: absolute;
			top:0; bottom:0;
			right:2em;
			margin: auto;

			border-left:10px solid red;
			border-bottom: 5px solid transparent;
			border-top: 5px solid transparent;

		}


	}

}


.footer-logo-holder,
.social-media-links,
.social {
	display: inline-block;
}

.social {
	margin:.5rem;
	width: 46px;
	height: 46px;
	@media(max-width: 530px) {
		margin: 0.1rem;
	}
}

.footer {
	background-color: #202020;
}

.footer-links {
	background-color:#000000;
	// padding-top: 90px;
	// padding-bottom: 90px;
}

.logo-social {
	background-color: $footer_grey;
}


// .inner-footer {
// 	padding-bottom: 40px;
// }

#policy-links {
	color: white;
}

.policy-links {
	> .copy {
		margin-top:0;
		font-weight: 500;
	}
}

#policy-links:hover {
	color: $brand-color;
}

.address {
	color: $light-grey;
}


.footer-bottom {
	height: 50px;
	color: #585858 !important;

	@media(max-width: 890px) {
		padding-top: 20px;
	}
	
	margin: auto;
	li {
		float: left;
		margin-right: 15px;
		font-size: 0.8em;
		letter-spacing: 0;
	}

	.copyright {
		display: inline-block;
		float: right;
		font-size: 0.8em;
		letter-spacing: 0;
		margin-top: 12px;

		@media(max-width: 890px) {
			float: left;
			margin-bottom: 25px;
			margin-top: 0;
		}
	}
}

.footer-left-column, .other-businesses-container {
	display: inline-block;
	vertical-align: top;
}

.headquarters-container {
	border-bottom: 1px dashed #565656;
	// width: 150%;
}

.other-businesses-container {
	padding-left: 70px;
	padding-right: 70px;
	border-left: 1px solid #565656;
	border-right: 1px solid #565656;
	// vertical-align: middle;
	padding-top: 60px;
	padding-bottom: 140px;

	@media(max-width: 1033px) {
		padding-bottom: 30px;
		border-bottom: 1px solid #565656;
		border-right: none;
	}

	@media(max-width: 890px) {
		padding-bottom: 60px;
		border: none;
		padding-left: 0;
		display: block;
		padding-top: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid #565656;

	}
}


.headquarter-title {
	text-transform: uppercase;
}

.other-businesses-content {
	a {
		color: #bdbdbd;

		&:hover {
			color: $brand-color;
		}
	}
	

}

.footer-contact-container {
	text-transform: uppercase;
	margin-top: 20px;
	display: inline-block;
	color: white;

	&:hover {
		color: $brand-color;
	}

	@media(max-width: 1033px) {
		padding-bottom: 30px;
		margin-top: 30px;
	}

	@media(max-width: 890px) {
		display: block;
	}

}

.headquarters-wrapper {
	margin-bottom: 20px;
}

.footer-links-content {
	margin: auto;
}

.footer-left-column {
	padding-top: 60px;

	@media(max-width: 890px) {
		display: block;
	}
}

.footer-contact-link {
	cursor: pointer;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	color: white;
	&:hover {
		.arrow-right {
			border-left: 6px solid $brand-color !important;
		}
	}
}

.footer-contact-wrapper {
	display: block;
	@media(max-width: 890px) {
		border-bottom: 1px solid #565656;
	}

	a {
		display: inline-block;
	}
}


.iab_logo_container {
	display: inline-block;
	@media(max-width: 1033px) {
		display: block;
	}
	
	a {
		display: inline-block;
		margin-left: 50px;
		margin-top: 60px;
		display: inline-block;

		@media(max-width: 1033px) {
			margin-left: 0;
			margin-top: 20px;
			margin-bottom: 20px;
		}

	}

	img {
		width: 80px;
	}

}