.lt-ie8,
.lt-ie9,
.lt-ie10,
.lt-ie11 {
    #parallax-kieth {
      max-height: 730px;
      overflow-y: hidden;
    }
    #group4 .subpage .blue,
    #group4 .subpage .red, {
       
        padding-bottom: 100px;
    }
   

    .parallax-kieth {
        height: 500px; /* fallback for older browsers */
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-perspective: none;
        perspective: none;
      }
    .parallax__group {
      position: relative;
      height: 500px; /* fallback for older browsers */
      height: 100vh;
      -webkit-transform-style: none;
      transform-style: none;
    }
  

    .parallax__layer {
      position: static;
    }

  
    .parallax__layer--fore {
      -webkit-transform: translateZ(0) scale(1);
      transform: translateZ(0) scale(1);
      z-index:0;
    }

    .parallax__layer--base {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      z-index:0;
    }

    .parallax__layer--back {
      -webkit-transform: translateZ(-300px) scale(2);
      transform: translateZ(-300px) scale(2);
      z-index:0;
    }

    .parallax__layer--deep {
      -webkit-transform: translateZ(-600px) scale(3);
      transform: translateZ(-600px) scale(3);
      z-index:0;
    }

    .parallax__group {
      -webkit-transition: none;
      transition: none;
    }

    .title {
        position: static;
    }

    #group6,
    #group7 {
      .ccc-holder {
        width:100%;
        max-width: none;
        .gamut-btn {
          margin-left:0;
          margin-top:2rem;
        }
      }
    }

    #group1,
    #group2,
    #group3,
    #group4,
    #group5,
    #group6,
    #group7 {
        z-index: 0;
    }

        #group6 {
      .c-smart {
        background-color: #ffffff;
        max-width:none;
        width: 50%;
        float: right;
        position: absolute;
        left: 50%;
        top:0;
        height: 521px;

        .h1-hold {
          padding-top: 100px;
          padding-left:1em;
        }

        p {
            max-width: 20em;
          }
        }
    }
    .parallax #group2 .txt-holder, .parallax #group4 .subpage, .parallax .grey-bg {
        width: 90%;
        max-width: 1300px;
        margin: 0 auto;
    }
    #group2 .parallax__layer.parallax__layer--base {
    width: 100%;
    }
    .parallax #group2 .txt-holder, .parallax #group4 .subpage, .parallax .grey-bg {
        width: 90%;
        max-width: 1300px;
        margin: 0 auto;
    }

    #group2 h1 {
        margin-top: 1.8rem;
    }

    #group7 {
      .h1-hold {
        max-width: 650px;
        width: 100%;
        float: right;
      }
    }

    .parallax .grey-bg {
        width: 90%;
        max-width: 1300px;
        margin: 0 auto;
    }

    #group1 {
        max-height: 730px;
        overflow-y: hidden;
    }

    #group2 {
        padding-top: 135px;
        padding-bottom: 145px;
    }

    #group2 .parallax__layer.parallax__layer--base {
    width: 100%;
    }

    #group5,
    #group3 {
        padding: 95px 0 115px;
        background-color: #3d3d3d;
        color: white;
    }

    .c-smart-bg {
        background-repeat: no-repeat;
        background-size: 60%;
        background-position: -28% 0%;
    }
    .c-smart {
        max-width: 615px;
    }

    .c-career-bg {
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: 248% 0%;
    }
    .c-career, .c-smart {
    padding: 0 1em;
    width: 50%;
    }

    #group6 .ccc-holder {
        padding-bottom: 150px;
        padding-top: 110px;
        padding: 6% 0;
        width: 99%;
        max-width: 1300px;
        margin: 0 auto;
    }


}