// SCROLLORAMA

/*
	COLORS
 
	Dark Blue 		#222438
	Medium Blue		#69697A
	Light Blue	 	#C5C3DE
	Yellow			#FFB000
	Red				#D92B00
	
*/



#examples-1 { overflow: hidden; }
// #fly-it { position: relative; }

// CHARLE SCSS
#fly-it {
	img {
		width: 100%;
	}
}