.facebook, .google-plus, .linked-in, .twitter {
	display: block;
	// background-image: url("<?php bloginfo('url');?>/img/sprites.png");
	background-image: url("../../../../../img/sprites.png");
	background-repeat: no-repeat;
	// @include prefix(transition, all 200ms);
}

.a2a_kit .facebook,
.facebook:hover {
	background-position: -176px -79px ;
	width: 45px;
	height: 45px;
}

/*.fb-hover{*/
.a2a_kit .facebook:hover,
.facebook {
	background-position: -176px -28px ;
	width: 45px;
	height: 45px;
}


.a2a_kit .google-plus,
.google-plus:hover {
	background-position: -126px -79px ;
	width: 45px;
	height: 45px;
}

/*.g-hover{*/
.a2a_kit .google-plus:hover,
.google-plus {
	background-position: -126px -28px ;
	width: 45px;
	height: 45px;
}

.a2a_kit .linked-in,
.linked-in:hover {
	background-position: -77px -79px ;
	width: 45px;
	height: 45px;
}

.a2a_kit .linked-in:hover,
.linked-in {
	background-position: -77px -28px ;
	width: 45px;
	height: 45px;
}

.a2a_kit .twitter,
.twitter:hover {
	background-position: -24px -79px ;
	width: 45px;
	height: 45px;
}

/*.tw-hover{*/
.a2a_kit .twitter:hover,
.twitter {
	background-position: -24px -28px ;
	width: 45px;
	height: 45px;
}

// HIDE ADD TO ANY IMG
.a2a_kit {
	margin-bottom: 1.5em;
	
	.share-text {
		display: block;
		color: #ed228b;
		// font-size: 1.2em;
		// margin-bottom: 0.25em;
		margin-bottom:2px;
	}

	> a {
		display:block;
		float: left;
		// width: 46px !important; height: 46px !important;	
		// margin-right: 1em;
		margin-right: 8px;

		&:hover {
			// width: 46px !important; height: 46px !important;
		}
		> img, > span {
			display: none;
		}
		span {
			font-size: 15px;
		}
		span.more-text {
			  display: block;
			  position: absolute;
			  /* bottom: 0; */
			  top: 6px;
			  margin-left:2px;
		}
	}

	> a.more {
		width:5em !important;
	}
}

.more {
	.more-text {
		color: #ed228b;
		display: block;
		float: left;
		// position: absolute;
		bottom: 0;
		font-size: 1.2em;		
		// &:hover { color: black; }
	}
	position: relative;
}

img.more-inside {
	padding-left:0.25em;
	vertical-align: baseline;
}


// .a2a_kit {
// 	a {
// 		@include prefix(transform-origin, center);
// 		@include prefix(transform, scale(0.6));
// 		margin-right:0;
// 	}
// 	a.more  {
// 		@include prefix(transform-origin, center);
// 		@include prefix(transform, scale(1));	
// 	}
// }




// NEW SOCIAL STYLES - 7-22
.sprite {
    background-image: url('../../../../../img/spritesheet-new.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-email {
    width: 30px;
    height: 30px;
    background-position: -2px -2px;
}

.sprite-email:hover,
.sprite-email-hover {
    width: 30px;
    height: 30px;
    background-position: -36px -2px;
}

.sprite-facebook {
    width: 30px;
    height: 30px;
    background-position: -70px -2px;
}

.sprite-facebook:hover,
.sprite-facebook-hover {
    width: 30px;
    height: 30px;
    background-position: -2px -36px;
}

.sprite-google-plus {
    width: 30px;
    height: 30px;
    background-position: -36px -36px;
}

.sprite-google-plus:hover,
.sprite-google-plus-hover {
    width: 30px;
    height: 30px;
    background-position: -70px -36px;
}

.sprite-instagram {
    width: 30px;
    height: 30px;
    background-position: -2px -70px;
}

.sprite-instagram:hover,
.sprite-instagram-hover {
    width: 30px;
    height: 30px;
    background-position: -36px -70px;
}

.sprite-linked-in {
    width: 30px;
    height: 30px;
    background-position: -70px -70px;
}

.sprite-linked-in:hover,
.sprite-linked-in-hover {
    width: 30px;
    height: 30px;
    background-position: -104px -2px;
}

.sprite-twitter {
    width: 30px;
    height: 30px;
    background-position: -104px -36px;
}

.sprite-twitter:hover,
.sprite-twitter-hover {
    width: 30px;
    height: 30px;
    background-position: -104px -70px;
}

// NEW INSTAGRAM SPRITE AT THE BOTTOM OF THE FOOTER
.footer {
	.sprite {
	    background-image: url('../../../../../img/spritesheet-inst.png');
	    background-repeat: no-repeat;
	    display: block;
	}

	.sprite-instagram {
	    width: 45px;
	    height: 45px;
	    background-position: -2px -2px;
	}

	.sprite-instagram:hover,
	.sprite-instagram-hover {
	    width: 45px;
	    height: 45px;
	    background-position: -51px -2px;
	}
}