// NEW WATCH-READ STYLES
// REQUESTED 7-8-2015

.gamut-cat-title {
	margin-top: 1em;
	display: block;	
}

// GAMUT NAVIGATION
.gamut-navigation {
	margin-top:40px;

	a[rel="prev"] {
		float:left;
	}

	a[rel="next"] {
		float:right;	
	}

}


#main .addtoany_share_save_container {
	text-align: right;
	a { 
		padding: 0 0.25em 0 0;
		font-size: 1.25em;
	}
}