// NEW WATCH-READ STYLES
// REQUESTED 7-8-2015

.gamut-cat-title {
	margin-top: 1em;
	display: block;	
}

// GAMUT NAVIGATION
.gamut-navigation {
	margin-top:40px;

	a[rel="prev"] {
		float:left;
	}

	a[rel="next"] {
		float:right;	
	}

}


#main .addtoany_list,
#main .addtoany_share_save_container {
	text-align: left;
	  text-transform: uppercase;
  		font-size: 0.7em;
  	font-weight: 500;
  	display: block;
  	margin:40px 0 0;
	a { 
		padding: 0 0.25em 0 0;
		font-size: 1.25em;
		color:rgb(50, 57, 68);
		&:hover {
			color:rgb(237, 34, 139);
		}
	}

	+ .single-title { margin-top:0; }
}


// HOME PAGE TITLE ADJUSTMENTS
#parallax-kieth h1.sub-page-title {
	display: inline-block;
	background: white;
	position: absolute;
	top: 0; bottom: 0; left: 0;
	margin: auto;
	display: block;
	float: none;
	z-index: 1000;
	text-transform: lowercase;
	font-size: 3em;
	padding-right: 0.55em;

	@media(min-width: 811px) {
		height: 1.2em;
  		font-size: 3.5em;
	}

	span.title-plus {
		background: white;
	  	position: absolute;
	  	right: 0em; top: -0.14em;
	  	display: block;
	}

	// HIDE OLD IMAGE LOGO
	+ img { display: none; }
}



// NEW SIDEBAR MENU
#cat-menu .current-cat {
	a {color: #ed228b; }
}