.mail-link {
	color: $brand-color !important;
}

.small-title {
	font-weight: 400;
}

form {

	input {
		display: inline;
		
	}

	input, textarea {
		@include transition(all 0.3s ease-in-out);
		outline: none;
		font-family: "franklin-gothic-urw",sans-serif !important;
	}

	::-webkit-input-placeholder, ::-webkit-textarea-placeholder {
		color: $black;
		font-weight: 500;
		text-transform: uppercase;
	}

	:-moz-placeholder { /* Firefox 18- */
   		color: $black;
		font-weight: 500;
		text-transform: uppercase;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: $black;
		font-weight: 500;
		text-transform: uppercase;
	}

	:-ms-input-placeholder {  
	   color: $black;
		font-weight: 500;
		text-transform: uppercase;
	}

	input:focus, textarea:focus {
		  box-shadow: 0 0 5px $brand-color;
		  border: 1px solid $brand-color;
}

	div {
		display: inline-block;
		padding: 10px 10px;
		color: $black;
		font-weight: 500;
		text-transform: uppercase;
	}

	.full-width {
		width: 100%;
	}

	input[type="text"], input[type="email"], input[type="tel"], input[type="url"], textarea {
		background-color: $white;
		border: 1px solid $light-grey;
		border-radius: 0;
	}

	textarea {
		resize: none;
	}

	input[type="radio"] {
		margin-right: 8px;
	}

	label {
		margin-right: 20px;
	}
	
}

.general {
	float: right;
}

.wpcf7-captchac {
	padding-top: 10px;
}

.form-submit {
	float: right;


	input[type=submit] {
		color: white;
		white-space: nowrap;
		text-align: center;
		background-color: #323944;
		text-decoration: none;
		padding: 10px 35px;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
		border:0 none;
		width: 100%;

		&:hover {
			background-color: $brand-color;
		}
	}
}

#sidebar-intro {
	p {
		margin-bottom: 15px;
	}

	@media(max-width: 768px) {
		margin: auto;
		text-align: left;
	}

	ul {
		list-style-position: inside;
		// list-style-type: disc; 
		li:before {
			color: $brand-color; 
	  		content:"\2022"; 
	  		font-size: 1.5em;
	  		padding-right: .25em;
	  		position: relative;
	  		top: .1em;
		}

		ul {
			margin-top: -0.2em;
			// padding-left: 1.1em;

			li:before {
				color: $light-grey; 
				font-size: 1.2em;
			}
		}
	}


}

.our-solutions-list {
	
	h2 {
		font-family: "franklin-gothic-urw",sans-serif;
		margin-top: -1.6em;
	}
}

// our solutions page
.first-p {
	font-size: 1.5em !important;
	margin-bottom: 1em !important;
	margin-top: 1.3em !important;
	line-height: 1.2em;
}

.sub-page-content-wrapper {
	img {
		margin-bottom: 0 !important;
	}
}

// tagline
// #tagline {
// 	font-family: "franklin-gothic-urw",sans-serif !important;
// 	color: $black;
// 	width: 500px;
// 	vertical-align: bottom;
// 	top: 20px;
// 	position: absolute;
// 	display: inline-block;
// 	left: 130px;
// 	@include transition(all 0.2s);

// 	@media(max-width: 1048px) {
//     	opacity: 0;
    	
// }

// }

// .logo-holder {
// 	position: relative;
// }

// opt out styling

#opt {
	text-align: center;
	margin-top: 20px;

	.opt_btn_wrapper {
		margin-top: 30px;
	}
}

#ooButton {
		margin-top: 20px;
		cursor: pointer;
		color: white;
		white-space: nowrap;
		text-align: center;
		background-color: #323944;
		text-decoration: none;
		padding: 10px 35px;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
		&:hover {
			background-color: $brand-color;
		}		
}

@media(max-width: 560px) {
    .wpcf7-list-item {
    	display: block;
    }
}
