// home page btn transitions
// PROGRAMMATIC BTN
#home-btn-pro:hover {
		background-color: $programmatic;
		border-color: $programmatic;

		#home-btn-pro-arrow {
			border-left: 6px solid $white;
		}
}

#home-btn-pro-arrow {
	border-left: 6px solid #dd1420;
}

// REPS BTN
#home-btn-rep:hover {
	background-color: $reps;
	border-color: $reps;

	#home-btn-rep-arrow {
		border-left: 6px solid $white;
	}
}

#home-btn-rep-arrow {
	border-left: 6px solid #039fd3;
}

// REACH
#home-btn-rea:hover {
	background-color: $reach;
	border-color: $reach;
	#home-btn-rea-arrow {
		border-left: 6px solid $white;
	}
}

#home-btn-rea-arrow {
	border-left: 6px solid #8fc73e;
}


#home-btn-cro:hover {
	background-color: $crossmedia;
	border-color: $crossmedia;
	#home-btn-cro-arrow {
		border-left: 6px solid $white;
	}	
}

#home-btn-cro-arrow {
	border-left: 6px solid #fba211;
}

// end
// home general btn
#home-btn-difference:hover, #home-btn-service:hover, #home-btn-careers:hover {
	background-color: $brand-color;
	border-color: $brand-color;

	#home-btn-difference-arrow, #home-btn-service-arrow, #home-btn-careers-arrow {
		border-left: 6px solid $white !important;
	}
}


// Events post formatting
.events-table {
	border: none !important;
	border-style: none !important;
	h3 {
		margin-top: .15em;
		letter-spacing: .1em;
		font-size: .91em;
		font-family: "franklin-gothic-urw",sans-serif;
		font-weight: 700;

	}

	tr {
		border-left: none !important;
		border-right: none !important;
		border-top: none !important;
		border-bottom: none !important;
		background-color: $white !important;
	}

	td {
		border: none;
		background-color: $white !important;
		vertical-align: top;
		padding: 0 !important;
	}

	.events-right-column {
		padding-left: 20px;
	}
}

.events-break {
	border-top:1px solid #eaedf2;
	width: 100%;
	margin-left: 0;
	margin-top: 20px;
	margin-bottom: 20px;

}

// policy pages link styling
.entry-content {
	a {
		color: $brand-color !important;

		&:hover {
		text-decoration: underline;
		}
	}


}

// press releases email link color
.media-inquiry-info {
	a {
		color: $brand-color;
		&:hover {
			text-decoration: underline;
		}
	}
}

// individual employee page
.emp-img-container {
	float: left;
	margin-right: 30px;
}

.type-team_members {
	margin-top: 45px;
}

.emp-img-container {

	@media(max-width: 767px) {
		float: none;
		margin-bottom: 20px;
		img {
			margin: auto;
			display: block;
		}

			
	}	
}

.emp-intro-container {
	h1 {
		font-size: 1.4em;
		line-height: 1.3em;
		color: $brand-color;
	}

	@media(max-width: 767px) {
		width: 100%;
	}
}




// our leadership hover
.grid-thumb {
  // -webkit-filter: grayscale(100%);
  // -moz-filter: grayscale(100%);
  // -ms-filter: grayscale(100%);
  // -o-filter: grayscale(100%);
  // filter: grayscale(100%);
  // filter: url(grayscale.svg); /* Firefox 4+ */
  // filter: gray; /* IE 6-9 */;
  @include transition(all 0.2s ease-in-out);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    //-webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.grid-thumb:hover {
	filter: none;
    -webkit-filter: grayscale(0%);
}

// news sidebar
.news-sidebar {
	margin-left: 5%;
	margin-top: 40px !important;
	float: left;
}

.news-content-wrapper {
	width: 70%;
	margin: auto;


}


// fix main menu highlight
.current-page-ancestor {
	a {
		color: $brand-color !important;
	}
	
}

// bio
.bio-left-column-image {
	display: inline-block;
	height: 440px;

	@media(max-width: 1000px) {
		height: 400px;		
	}

	@media(max-width: 736px) {
		display: block;	
		margin: auto;	
	}
}

.bio-right-column-container {
	display: inline-block;
	width: 50%;
	margin: auto;
	vertical-align: top;
	margin-left: 5%;

	@media(max-width: 1000px) {
		width: 60%;	
	}

	@media(max-width: 850px) {
		width: 50%;
	}

	.bio-name {
	color: $white;
	display: inline-block;
	font-weight: 700;
}

	.bio-title {
		color: $brand-color;
		display: inline-block;
		font-weight: 700;
	}

	p {
		color: $black;
		font-size: 0.9em;
		line-height: 1.32em;
		margin-top: 0.7em;
	}

	@media(max-width: 736px) {
		display: block;
		display: block;
		margin: auto;
		width: 90%;
		margin-top: 20px;		
	}

}

.fancybox-inner {
	background-color: #cecdcd;
}

.og-grid li a img {
	margin: 0 !important;
}

// page link color
.page-link {
	color: $brand-color !important;
	&:hover {
		text-decoration: underline !important;
	}
}

// careers
.job_container {
	ul {
		list-style-type: disc;

		ul {
			list-style-type: circle;
			padding-left: 20px;
		}
	}
	
}

.job_hidden {
	display: none;
}

.job_wrapper {
	margin-top: 20px;
}

.accordion {
	background-color: $light-grey;
	display: block;
	padding: 10px;
	color: $white;
	cursor: pointer;
	font-weight: 500;
	font-size: 1.2em;
	text-transform: uppercase;

	&:hover {
		@include transition(all 0.2s);
		background-color: $brand-color;
		color: $white;
	}

	img {
		width: 12px;
		margin-top: 6px;
		float: right;
	}

	@media(max-width: 1029px) {
		font-size: 0.95em;
		
	}
}

.closing-statement-container {
	margin-top: 60px;
}

.jobSlideUp {
	text-align: right;

	.close_btn {
		cursor: pointer;
	}
}


.f_job_headline {
	text-transform: uppercase;
	font-size: 2em;
	text-align: center;
	margin-top: 50px !important;
	margin-bottom: 50px;
	color: $brand-color;

	@media(max-width: 1029px) {
		font-size: 1.5em;
		
	}
}

.featured_job {
	margin-bottom: 60px;
}

#a-top {
	width: 12px;
}

#a-down {
	width: 14px;
	display: none;
}

// posts page styling
#logo-fast {
	height:1.5em;
	vertical-align: top;

	@media(max-width: 810px) {
		margin-top: 20px;
		
	}
}

#logo-nyt {
	height: 2em;
	vertical-align: top;

	@media(max-width: 1029px) {
		margin-top: 20px;
		
	}

}

#logo-forbes {
	height: 1.6em;
	vertical-align: top;

	@media(max-width: 1239px) {
		margin-top: 20px;
		
	}
}

.media-inquiry-info {
	.highlight {
		font-family: 'Sentinel Medium';
	}
}

.excerpt-read-more {
	color: $brand-color !important;
	font-family: "franklin-gothic-urw",sans-serif;

	&:hover {
		text-decoration: underline;
	}
}

.news-post-wrapper {
	border-bottom: 1px solid $light-grey;
}

.post-header {
	margin-bottom: 0;
	font-size: 2.4em;

	@media(max-width: 810px) {
		margin-top: 20px !important;
	}

	@media(max-width: 767px) {
		font-size: 2.2em;
	}
}

.news-post-inner {
	margin-bottom: -16px;


}

.news-content-wrapper {
	section {
		ul {
			padding-left: 1em !important;
			list-style-type: disc !important;
		}
	}
}

.news-logos-container {
	margin-top: 30px;
	img {
		height: 32px;
		margin-right: 40px;
	}

	@media(max-width: 810px) {
		margin-top: -100px;
		margin-bottom: 30px;
		
	}

	@media(max-width: 767px) {
		margin-top: 0;
		margin-bottom: 30px;
		
	}

}

.media-inquiry-info {
	margin-top: 80px;
}

.mail-link {
	color: $brand-color !important;

	&:hover {
		text-decoration: underline;
	}
}

.small-title {
	font-weight: 400;
}

form {

	input {
		display: inline;
		
	}

	input, textarea {
		@include transition(all 0.3s ease-in-out);
		outline: none;
		font-family: "franklin-gothic-urw",sans-serif !important;
	}

	::-webkit-input-placeholder, ::-webkit-textarea-placeholder {
		color: $black;
		font-weight: 500;
		text-transform: uppercase;
	}

	:-moz-placeholder { /* Firefox 18- */
   		color: $black;
		font-weight: 500;
		text-transform: uppercase;
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: $black;
		font-weight: 500;
		text-transform: uppercase;
	}

	:-ms-input-placeholder {  
	   color: $black;
		font-weight: 500;
		text-transform: uppercase;
	}

	input:focus, textarea:focus {
		  box-shadow: 0 0 5px $brand-color;
		  border: 1px solid $brand-color;
}

	div {
		display: inline-block;
		padding: 10px 10px;
		color: $black;
		font-weight: 500;
		text-transform: uppercase;
	}

	.full-width {
		width: 100%;
	}

	input[type="text"], input[type="email"], input[type="tel"], input[type="url"], textarea {
		background-color: $white;
		border: 1px solid $light-grey;
		border-radius: 0;
	}

	textarea {
		resize: none;
	}

	input[type="radio"] {
		margin-right: 8px;
	}

	label {
		margin-right: 20px;
	}
	
}

.general {
	float: right;
}

.wpcf7-captchac {
	padding-top: 10px;
}

.form-submit {
	float: right;


	input[type=submit] {
		color: white;
		white-space: nowrap;
		text-align: center;
		background-color: #323944;
		text-decoration: none;
		padding: 10px 35px;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
		border:0 none;
		width: 100%;

		&:hover {
			background-color: $brand-color;
		}
	}
}

#sidebar-intro {
	p {
		margin-bottom: 15px;
	}

	@media(max-width: 768px) {
		margin: auto;
		text-align: left;
	}

	ul {
		list-style-position: inside;
		// list-style-type: disc; 
		li:before {
			color: $brand-color; 
	  		content:"\2022"; 
	  		font-size: 1.5em;
	  		padding-right: .25em;
	  		position: relative;
	  		top: .1em;
		}

		ul {
			margin-top: -0.2em;
			// padding-left: 1.1em;

			li:before {
				color: $light-grey; 
				font-size: 1.2em;
			}
		}
	}


}

.our-solutions-list {
	
	h2 {
		font-family: "franklin-gothic-urw",sans-serif;
		margin-top: -1.6em;
	}
}

// our solutions page
.first-p {
	font-size: 1.5em !important;
	margin-bottom: 1em !important;
	margin-top: 1.3em !important;
	line-height: 1.2em;
}

.sub-page-content-wrapper {
	img {
		// margin-bottom: 0 !important;
		margin-bottom: 0;
	}
}

// opt out styling

#opt {
	text-align: center;
	margin-top: 20px;

	.opt_btn_wrapper {
		margin-top: 30px;
	}
}

#ooButton {
		margin-top: 20px;
		cursor: pointer;
		color: $white !important;
		white-space: nowrap;
		text-align: center;
		background-color: #323944;
		text-decoration: none;
		padding: 10px 35px;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
		&:hover {
			background-color: $brand-color !important;
		}		
}

@media(max-width: 560px) {
    .wpcf7-list-item {
    	display: block;
    }
}

.no-found-msg {
	color: $brand-color;
}

// scroll header fixed 
.sroll-top-container {
	background-color: white; 
	position: relative; 
	top: 300px;
	@media(min-width: 768px) {
	   width: 100%;
	}

	@media(max-width: 767px) {
	   width: 100% !important;
	   padding-left: 5%;
	   padding-right: 5%;
	}

}

// search form styling
#searchsubmit {
	color: white;
	white-space: nowrap;
	text-align: center;
	background-color: #323944;
	text-decoration: none;
	padding: 10px 35px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	border: 0 none;
	width: 100%;
	@include transition(all 0.2s);

	&:hover {
		background-color: $brand-color;

	}
}
