// WHO WE ARE SCSS - REPLACEMENT FOR emp_grid.css
/* General Demo Style */
/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);*/

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body.page-id-48 {
    // overflow: scroll;
    overflow-x: hidden;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}

.main > p {
	text-align: center;
	padding: 50px 20px;
}


// EMPLOYEES
.small-name,
.small-title {
	margin:0;
	font-size: .9rem;
	line-height: 1.15rem;
	color:#000;
	max-width: 140px;

	@media(min-width: 1030px) {
		max-width: 180px;
	}
}

.small-name {
	font-weight: bold;
	margin-top:.5em;
}

.small-title {
	margin-bottom: .9rem;
}

.medium-name,
.medium-title {
	margin:0;
	margin-right: .5em;
	font-size: 1.3rem;
	line-height: 1em;
	margin-bottom: .15rem;
	margin-top:.15rem;
	display: inline-block;
}

.medium-name {
	color:#ffffff;
	font-weight: bold;
}

.medium-title {
	color:$brand-color;
	font-weight: normal;
	font-size: 1.2rem;
}

/* COMPONENT CSS */

.og-grid {
	list-style: none;
	padding:0 0 20px 0;
	margin: 0 auto;
	width: 100%;
	// CHARLES STYLES
	position: relative;
	text-align: left;
	margin-top: 0;

	@media(min-width:1030px ){
		width:84%;
	}
}

.og-grid li {
	display: inline-block;
	margin: 0 10px 5px 0px;
	vertical-align: top;

	@media(min-width: 768px) {
		margin: 0 22px 5px 0px;
	}

	@media(min-width: 1030px) {
		margin: 0 28px 10px 0px;
	}
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li > a img {
	width:140px;
	height: 140px;

	@media(min-width: 1030px) {
		width:180px;
		height: 180px;
	}

}

// .og-grid li.og-expanded > a::after {
// 	top: auto;
// 	border: solid transparent;
// 	content: " ";
// 	height: 0;
// 	width: 0;
// 	position: absolute;
// 	pointer-events: none;
// 	border-bottom-color: #ddd;
// 	border-width: 15px;
// 	left: 50%;
// 	margin: -20px 0 0 -15px;
// }

.og-expander {
	position: absolute;
	// background: #ddd;
	background: rgb(206, 204, 205);
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	// padding: 50px 30px;
	padding:0;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	float: left;
	overflow: hidden;
	position: relative;
}
.og-fullimg {
	// width: 33.333333%;
	// max-width: 250px;
	width: 35.5%;
	max-width: 308px;	
}

.og-details {
	// padding: 0 0 0 20px;
	padding: 0 0 0 6px;
	margin-top: 46px;
	width:64.5%;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	// display: inline-block;
	max-height: 100%;
	max-width: 100%;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}

.og-details p {
	font-size: 14px;
	line-height: 17px;
	color: $black;
	max-width: 35em;
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #999;
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}


@media screen and (max-width: 650px) {
	.og-details { 
		float: none; 
		// width: 100%; 
		width: auto;
	}
	
}

.page-id-48 {
	.sub-page-content-wrapper,
	.post-48 {
		background-color: #ffffff;
	}
}