.facebook, .google-plus, .linked-in, .twitter {
	display: block;
	// background-image: url("<?php bloginfo('url');?>/img/sprites.png");
	background-image: url("../../../../../img/sprites.png");
	background-repeat: no-repeat;
	// @include prefix(transition, all 200ms);
}

.facebook:hover {
	background-position: -176px -79px ;
	width: 45px;
	height: 45px;
}

/*.fb-hover{*/
.facebook {
	background-position: -176px -28px ;
	width: 45px;
	height: 45px;
}


.google-plus:hover {
	background-position: -126px -79px ;
	width: 45px;
	height: 45px;
}

/*.g-hover{*/
.google-plus {
	background-position: -126px -28px ;
	width: 45px;
	height: 45px;
}

.linked-in:hover {
	background-position: -77px -79px ;
	width: 45px;
	height: 45px;
}

.linked-in {
	background-position: -77px -28px ;
	width: 45px;
	height: 45px;
}

.twitter:hover {
	background-position: -24px -79px ;
	width: 45px;
	height: 45px;
}

/*.tw-hover{*/
.twitter {
	background-position: -24px -28px ;
	width: 45px;
	height: 45px;
}