// PARA NEW

.new-c {
  // background-color: rgb(32, 32, 32);

  .c-career {
    h1 {
      position: relative;
     &:before {
        content: "";
        display: block;
        background-image: url("../../../../../img/new-beams/our-solutions.png");
        background-size: cover;
        position: absolute;
        margin:auto;
        
        right: 0;
        width: 783px;

        top: -1.5em;
        bottom: 0;
        left: -1270px;


        // max-width: 783px;
        height: 100%;
        max-height: 5px;
        z-index: 10;

        @media(min-width: 811px) {
         right: 0;
          left: -1350px;
          top: .5em;
          bottom: auto;

        }
      }
    }
  }
  .grey-bg {
    h1 {
      position: relative;

      &:before {
        content: "";
        display: block;
        background-image: url("../../../../../img/new-beams/our-solutions.png");
        background-size: cover;
        position: absolute;
        // top: .5em;
        bottom: 0;
        right: 0;
        width: 783px;

        top: -.5em;
        bottom: 0;
        left: -762px;


        // max-width: 783px;
        height: 100%;
        max-height: 5px;
        z-index: 10;

        @media(min-width: 811px) {
          top: .5em;
          bottom: 0;
          left: -812px;
        }
      }
    }
    p {
      position: relative;
      &:after {
        content: "";
        display: block;
        background-image: url("../../../../../img/new-beams/diff-right.png");
        background-size: cover;
        position: absolute;

        width: 842px;
        // max-width: 842px;
        height: 100%;
        max-height: 5px;
        margin: auto;
        z-index: 10;
        right: -802px;

        @media(min-width: 811px) {
          right: -862px;
          top:0;
          bottom:0;
        }
      }
    }
  }

  font-size: 100%;

  p {
    font-size:.95em;
    line-height:1.5em;

    @media(min-width: 768px) {
      font-size: 1.25em;
    }

    @media(min-width: 1040px) {
      font-size: 1.6em;
    }
  }

  .p-holder {
    p {
      max-width: 27em;
      text-align: left;
    }
  }

  h1 {
    font-size: 2.5em;

     @media(min-width:768px) {
      font-size: 3em;
    }

     @media(min-width:1040px) {
      font-size: 3.75em;
    }

    @media(min-width:1340px) {
      font-size: 4.5em;
    }
  }

  .white { color:white;}

  .grey-bg {
    color:white;
    background-color: rgb(62,62,62);

    h1 {
      color:white;
    }
  }
  .bg {
    background-repeat: no-repeat;
    background-size: cover;
  }

  .txt-holder {
    display:block;
    padding: 0 .5em;
    max-width: 1200px;
    text-align: left;
    width: 100%;

    div:last-child {
      margin-bottom: 2rem;
    }

    @media(min-width: 811px) {
      width: 90%;
      margin: 0 auto;
    }
  }

  .half {
    float: left;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
    padding-bottom: 1em;

    @media(min-width: 480px) {
      padding-bottom: 8%;
    }
  }

  .blue {
    text-align: right;
    width: 100%;

    .gamut-btn {
      position: static;
    }

    @media(min-width: 481px) {
      width: 42%;
      .gamut-btn {
        position: absolute;
      }
    }
  }

  .title {
    width: 100%;
    max-width: 1200px;
  }

  .red {
    width: 100%;
    max-width: 768px;
    text-align: left;

    .gamut-btn {
      position:static;
    }
    @media(min-width: 481px) {
      width: 58%;
      .gamut-btn {
        position: absolute;
      }
    }
  }

  #crossmedia-logo, #rep-logo, #reach-logo, #pro-logo {
    position: static;
    @media(min-width: 481px) {
      position:absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: auto;
      margin: auto;
    }
  }

  .subpage {
    padding:0 .5em;
    margin-bottom: 3em;
    
    @media(min-width: 1040px){
        margin-bottom: 5em;
      }
  }

  .difference {
    margin-left:0;
    @media(min-width: 811px) {
      margin-left:11%;
    }
  }

  .c-career,
  .c-smart {
    padding: 0 .5em;
    text-align: left;

    @media(min-width: 811px) {
      width:50%;
      clear: both;
    }

    h1,
    p {
      margin-bottom: 2rem;
      max-width: 33rem;
      text-align: left;
      line-height: 1.1em;
    }
    margin-bottom: 2rem;
  }
  

  .c-smart {

    @media(min-width: 811px) {
      float:right;
      margin-bottom: 10%;
    }

    h1 {
      max-width:none;
    }
  }

  .c-career {
    p {
      max-width: 31rem;
    }
  }

  .plus-sign {
    position: relative;
    max-width: 7.5em;
    margin-left: .8em;
  }

  .plus-sign:after {
    content: "";
    display: block;
    background-image: url("../../../../../img/plus-sign.png");
    width: 1.65rem;
    height: 1.65rem;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    left: -.8em;
    background-size: cover;
    background-repeat: no-repeat;

    @media(min-width:1040px) {
       width: 2.15rem;
      height: 2.15rem;
    }

    @media(min-width: 1340px) { 
      width: 2.65rem;
      height: 2.65rem;
    }
  }

  .cs-holder {
    width:100%;
    max-width: 1200px;
    margin:0 auto;

    .gamut-btn {
      background-color: black;
      border-color:black;
      color:white !important;
    }
  }

  .career-bg,
  .smart-bg {
    height: 0;
    // padding-bottom: 50%;
    padding-bottom: 39.6%;

    @media(min-width:768px) {
      width:50%;
    }

    @media(min-width: 1600px) {
      // padding-bottom:664px;
      // padding-bottom:604px;
      padding-bottom: 560px;
    }
  }



  .career-bg {
    @media(min-width: 768px) {
      float: right;
    }
  }

  .subpage-wrapper .gamut-btn,
  .gamut-btn {
    margin-left:0;
  }


  #group6 {
    .title {
      width: 100%;
      max-width: none;

      .cc-holder {
        width: 100%;
        max-width: 1200px;
      }
    } 
  }

  #group7 {
    // background: transparent;
    margin-top: -140px;
    height:auto;
    .parallax__layer--fore {
      position: static;
    }
  }

  #group3 .parallax__layer--base .title {
    background: rgb (61,61,61);
  }

@media(min-width: 811px) {
  #group1 {
    height:800px;
  }
  #group2 {
    height:600px;
  }
  #group3 {
    height:600px;
  }
  #group4 {
    height:1500px;
  }
  #group5 {
    height:500px;
  }
  #group6 {
    // height:800px
    height: 930px;
  }
  // #group7 {
  //   height:910px;
  // }
}

@media(min-width: 891px) {
  // #group7 {
  //   height:720px;
  // }
}

@media(min-width: 1040px) {
  #group1 {
    height:800px;
  }
  #group2 {
    height:600px;
  }
  #group3 {
    height:600px;
  }
  #group4 {
    height:1500px;
  }
  #group5 {
    height:500px;
  }
  #group6 {
    height: 930px;
  }
  // #group7 {
  //   // height:690px;
  //   // height:654px;
  //   height:auto;
  // }
}


@media(min-width: 1200px) {
  #group3 {
    background-color: rgb(61,61,61);
  }

  #group5 {
    background-color: rgb(61,61,61);
  }
}


.footer {
    margin-top:0;
  }

}

// #group5 .parallax__layer--base.outlines > div > div > .clearfix {
//   margin-left:11%;
// }
#group5 > div.parallax__layer.parallax__layer--base > div > div > div.clearfix > a {
  margin-left:11%;
}

.c-mobile {
  @media(min-width: 768px) {
    display: none;
  }
}

.c-desk {
  display: none;
 @media(min-width: 768px) {
    display: block;
  } 
}

.smart-bg.c-mobile {
  width:100%;
  float: none;
}

.cc-holder {
  .c-career {
    clear: none;
    float: left;
  }
}

.cs-holder.new {
  background-color: rgb(248, 248, 239);
  max-width: none;

  .cc-holder {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.home #container {
  overflow-x:hidden;
}