// .desk {
  /* style the groups
  --------------------------------------------- */
.home {
  #group1 {
    z-index: 5; /* slide over group 2 */
  }
  #group1 .parallax__layer--base {
    background: rgb(102,204,102);
  }
 
  #group2 {
    z-index: 3; /* slide under groups 1 and 3 */

    .txt-holder-holder {
      margin-top:50px;

      @media(min-width: 1040px) {
        margin-top:100px;
      }
    }
  }
  #group2 .parallax__layer--back {
    background: rgb(123,210,102);
    padding-bottom: 50%;
  }

  #group2 .parallax__layer--deep {
    background-size: cover;
    background-repeat: no-repeat;
    height: 150%;
  }

  #group3 {
    z-index: 4; /* slide over group 2 and 4 */
  }
  #group3 .parallax__layer--base {
    background: rgb(153,216,101);
  }

  #group4 {
    // z-index: 2; /* slide under group 3 and 5 */
    z-index: 3; /* slide under group 3 and 5 */
  }
  #group4 .parallax__layer--deep {
    background: rgb(184,223,101);
  }

  #group5 {
    z-index: 3; /* slide over group 4 and 6 */
  }
  #group5 .parallax__layer--base {
    background: rgb(214,229,100);
  }

  #group6 {
    z-index: 2; /* slide under group 5 and 7 */
  }
  #group6 .parallax__layer--back {
    // background: rgb(245,235,100);
  }

  #group7 {
    z-index: 3; /* slide over group 7 */
  }
  #group7 .parallax__layer--base {
    // background: rgb(255,241,100);
  }


.parallax__group {
  height: 500px;
}



@media(min-width: 811px) {
  #group1 {
  height:510px;
  }
  #group1 .parallax__group {
    height:510px;
  }

  // #group2 {
  // height: 400px;
  // }
  // #group2 .parallax__group {
  //   height:400px;
  // }
}

@media(min-width:1040px) {
  #group1 {
  height:700px;
  }
  #group1 .parallax__group {
    height:700px;
  }
}

// @media(min-width:1200px) {
//   #group1 {
//     height:600px;
//   }
//   #group1 .parallax__group {
//     height:600px;
//   }
// }

#group6,
#group6 .parallax__group {
  height: 734px;
  @media(min-width: 1040px) {
    // height: 1064px;
    height: 1130px;
  }
}


#group6 {
  .c-career {
    @media(min-width: 1200px) {
      padding-left: 10%;
    }
  }
}

// @media(min-width: 1340px) {
//   #group1 {
//   height: 800px;
//   }
//   #group1 .parallax__group {
//     height:800px;
//   }
// }

#group2 {
  .txt-holder {
    // width: 100%;
    width:90%;
    max-width: 1300px;
    margin:0 auto;
  }
}


#group5 {
  p {
    max-width: 32.5em;
  }

  .gamut-btn {
    margin-left: 11%;
    color:white !important;
    background: black;
    border-color:black;
  }
}


#group4 {
  // height:1600px;
  height:1080px;
  background-color: white;

  @media(min-width: 1040px) {
    height:1640px;
  }

  .subpage {
    // padding:55px 0;
    padding:62.5px 0;
    width:90%;
    max-width: 1300px;
    margin:0 auto;

    @media(min-width: 1040px) {
      padding:112.5px 0;
    }

    .gamut-btn {
      color:white !important;
      background-color:black;
      border-color:black;
    }

    p {
     font-size: 1.8em;
    }
  }
}

#group4 .parallax__group {
  // height:1600px;
  margin-top:20px;
  margin-bottom:20px;
  height:1080px;
  @media(min-width: 1040px) {
    height:1600px;
  }
}

#group3,
#group5 {
  color:white;

  h1 {
    color:white;
  }
}

// #group6 .parallax__group {
//   height:900px;
// }

#group2,
#group2 .parallax__group,
#group3,
#group3 .parallax__group,
#group5,
#group5 .parallax__group,{
  height: 400px;

  @media(min-width:1040px) {
    height: 500px;
  }
}

#group7 {
  @media(min-width:811px) {
    height: 550px;
  }

  @media(min-width:1040px) {
    height: 530px;
  }

}


.home #container {
  margin-top: -62.5px;
  @media(min-width: 1210px) {
    margin-top: -31px;
  }
}


@media(min-width: 811px) {
  .c-smart, .c-career {
    width: 50%;
    padding:0 .5em;
  }
  .c-smart {
    float:right;
  }
}

.c-smart-bg {
  background-repeat: no-repeat;
  // background-size: 50%;
  // background-position:0;
  background-size: 60%;
  background-position: -25% 0%;

  @media(min-width: 1040px) {
    background-size: 63%;
    background-position: -35% 0%;
  }

  @media(min-width:1320px) {
    padding-bottom: 100px;

    .c-smart {
      margin-top:110px;
    }
  }
}

.c-career-bg {
  background-repeat: no-repeat;
  // background-size: 50%;
  // background-position:100% -10%; 
  background-size: 80%;
  background-position: 290% 20%;
}

.plus-sign {
    position: relative;
    max-width: 7.5em;
    margin-left: .8em;
  }

  .plus-sign:after {
    content: "";
    display: block;
    background-image: url('../../../../../img/plus-sign.png');
    width: 1.65rem;
    height: 1.65rem;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    left: -.8em;
    background-size: cover;
    background-repeat: no-repeat;

    @media(min-width:1040px) {
       width: 2.15rem;
      height: 2.15rem;
    }

    @media(min-width: 1340px) { 
      width: 2.65rem;
      height: 2.65rem;
    }
  }

  .cc-holder {
    padding-bottom: 15%;
    @media(min-width: 1040px) {
      padding-bottom: 140px;
    }

    @media(min-width: 1600px) {
      padding-bottom: 240px;
    }

    .gamut-btn {
      background-color: black;
      border-color:black;
      color:white !important;
      margin-left: 0;
      margin-top:2em;
    }
  }

  p {
    font-size: 1.6em;
    line-height: 1.15em;
  }

  .c-career p {
    max-width: 19.5em;
  }

  .c-smart p {
    max-width: 20em;
  }

  .ccc-holder {
    width:90%;
    max-width:1300px;
    margin: 0 auto;
  }


  .p-holder {
    p {
      max-width: 27em;
      text-align: left;
    }
  }

  .grey-bg {
    width:90%;
    max-width:1300px;
    margin: 0 auto;  
  }

  .parallax {
    font-size: 75%;
    h1 {font-size: 3.25em;}
    @media(min-width: 1040px) {
      font-size: 100%;
      h1 {font-size: 3.5em;}
    }
    @media(min-width: 1300px) {
      h1 {font-size: 4.5em;}
    }
  }


  .c-career {
    h1 {
      position: relative;
     &:before {
        content: "";
        display: block;
        background-image: url("../../../../../img/new-beams/our-solutions.png");
        background-size: cover;
        position: absolute;
        margin:auto;
        
        right: 0;
        width: 783px;

        top: -1.5em;
        bottom: 0;
        // left: -1270px;
        left: -1320px;


        // max-width: 783px;
        height: 100%;
        max-height: 5px;
        z-index: 10;

        @media(min-width: 811px) {
         right: 0;
          // left: -1350px;
          left: -1450px;
          top: .5em;
          bottom: auto;

        }
      }
    }
  }
  
  #group3,
  #group5 {
    h1 {
      position: relative;

      &:before {
        content: "";
        display: block;
        background-image: url("../../../../../img/new-beams/our-solutions.png");
        background-size: cover;
        position: absolute;
        // top: .5em;
        bottom: 0;
        right: 0;
        width: 783px;

        top: -.5em;
        bottom: 0;
        left: -762px;


        // max-width: 783px;
        height: 100%;
        max-height: 5px;
        z-index: 10;

        @media(min-width: 811px) {
          top: .5em;
          bottom: 0;
          left: -812px;
        }
      }
    }
    p {
      position: relative;
      &:after {
        content: "";
        display: block;
        background-image: url("../../../../../img/new-beams/diff-right.png");
        background-size: cover;
        position: absolute;

        width: 842px;
        // max-width: 842px;
        height: 100%;
        max-height: 5px;
        margin: auto;
        z-index: 10;
        right: -802px;

        @media(min-width: 811px) {
          right: -862px;
          top:0;
          bottom:0;
        }
      }
    }
  }


  .c-smart {
    max-width: 420px;

    @media(min-width: 1040px) {
      // max-width: none;
      max-width: 486px;
    }

    @media(min-width: 1317px) {
      max-width: 593px;
    }
  }
  
// END HOME
}