//ALL SIZES STYLES
.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;
}


@media(min-width: 811px) {
// PARA FRIDAY - CHARLES STYLES

.parallax {
  font-size: 100%;
}

// FOOTER
  #group7 {
    .footer {
      width:100%;
      position: absolute;
      top:auto;
      bottom:0;
    }
  }


// z-index: 
  #group1 {
    // z-index: 5; /* slide over group 2 */
    z-index: 3;
    max-height: 100vh;
  }
  #group1 .parallax__layer--base {
    background:transparent;
  }
  #group1 .parallax__layer--deep {
    height: 130%;
  }

  #group2 {
    z-index: 4; /* slide under groups 1 and 3 */
  }
  #group2 .parallax__layer--back {
    // background: rgb(123,210,102);
    background:transparent;
  }

  #group3 {
    z-index: 5; /* slide over group 2 and 4 */
  }
  #group3 .parallax__layer--base {
    // background: rgb(153,216,101);
    background:#ffffff;
  }

  #group4 {
    z-index: 2; /* slide under group 3 and 5 */
    max-height: 600px;
  }
  #group4 .parallax__layer--deep {
     background-color: rgb(61,61,61);
  }

  #group5 {
    z-index: 3; /* slide over group 4 and 6 */
  }
  #group5 .parallax__layer--base {
    // background: rgb(214,229,100);
  }

  #group6 {
    z-index: 2; /* slide under group 5 and 7 */
    max-height: 800px;

    .wrap-holder {
      width:100%;
      max-width: 1600px;
      // margin:0 auto;

      margin: auto;
      position: absolute;
      // top: 25%;
      // top:0;
      // bottom: 0;
      bottom: auto;
      top: 33%;
      left: 0;
      right: 0;
      // height: 300px;
      height: 250px;
    }
  }
  #group6 .parallax__layer--back {
    // background: rgb(245,235,100);
    background-color: none;
    background-size: 50%;
    background-repeat: no-repeat;
  }

  #group7 {
    z-index: 3; /* slide over group 7 */
    max-height: 960px;
  }
  #group7 .parallax__layer--base {
    // background: rgb(255,241,100);

  }

  #group8 {
    max-height: 661px;
  }
}


// TEXT
.parallax {
  .new-home-wrap {
    display: inline-block;
    max-width: 1200px;
    text-align: left;
    width: 90%;
  }
}


.defined-txt {
  height: 300px;
  .abs-center {
    // top:18%;
    top:20%;
    bottom:auto;
    
    @media(min-width: 1200px) {
      top:25%;
    }

  }
}

.our-solutions {
  text-align: center;
  // height: 400px;
  height: 540px;
  
  .new-home-wrap {
    margin-top: 45px;
    // @media(min-width: 1200px) {
    //   margin-top: 90px;
    // }
  }
}

.our-solutions.abs-center {
  top: auto;
  // bottom: 20%;
  bottom:0;
}

.grey-bg {
  background-color: rgb(61,61,61);
}

.subpage-wrapper-c {
  height: 25%;
  height: 25vh;
  padding-top:2%;

  width:90%;
  max-width: 1200px;
  margin:0 auto;
}

// .difference {
//   // top:23%;
//   // bottom:auto;
//   // height: 500px;
// }

.abs-center.dif {
  top: 23%;
  bottom: auto;
  height: 270px;
  position: absolute;
  width: 100%;
}

.diff-2 {

}

.white-bg {
  position: absolute;
  top: 25%;
  width: 100%;
  background: white;
  // padding-bottom: 63%;
  padding-bottom: 57.48%;

  @media(min-width: 1850px) {
      padding-bottom:1050px;
  }
}
.dude {
  // background-size: 50%;
  // background-repeat: no-repeat;
  // background-position: 0 27.5%;

    // background-size: cover;
   background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  width: 100%;
  float: left;
  // padding-bottom: 63%;
  padding-bottom: 63%;
  position: absolute;
  top: 0;
  width: 50%;

    @media(min-width: 1040px) {
      // padding-bottom: 41.5%;
      padding-bottom: 52.5%;
    }

    @media(min-width: 1850px) {
      padding-bottom:1050px;
    }

}
.mtn {
    // background-size: 66%;
    // background-repeat: no-repeat;
    // background-position: 159% 0;

    background-size: cover;
    background-repeat: no-repeat;
    background-position:0;
    width:46%;
    float:right;

    padding-bottom: 63%;

    @media(min-width: 1040px) {
      // padding-bottom: 41.5%;
      padding-bottom: 52.5%;
    }

    // @media(min-width: 1040px) {
    //   padding-bottom: 50%;
    // }
    @media(min-width: 1850px) {
      padding-bottom:1050px;
    }
}
.beige {
  background-color:rgb(248,248,239);
}

.smart {
  width:50%;
  float:right;
  // padding-left:4.5em;
    padding-left:2%;

  p {
    color:#000;
    max-width: 22em;
    padding-right:.5rem;
  }
  .clearfix {
    position: relative;

    img {
      width:33px;
      height:34px;
      display: block;
      position: absolute;
      top:0; bottom:0; left:0; right:auto;
      margin:auto;

      @media(1040px) {
        width:48px;
        height:49px;
      }
    }
  }
}

.parallax {
  p {
    font-size: 1.6em;
    line-height: 1.2em;
    letter-spacing: .03em;
    padding-right:.5rem;
  }
}

.smart-replace {
  background-repeat: no-repeat;
  background-size: contain;
  width: 75.25%;
  padding-bottom: 7%;
  span {
    display: none;
  }
}

.home #container {
   p {
    font-size: 1.3em;
    @media(min-width: 1040px) {
      font-size: 1.6em;
    }
  }

  
  h1 {
    font-size: 3em;

     @media(min-width: 1200px) {
      font-size: 4em;
    }
     @media(min-width: 1340px) {
      font-size: 5em;
    }
  }
}

.carr {
  width: 54%;
  float: left;
  // padding-right: 4.5em;
  height: 100%;

  h1 {
    // display: inline-block;
    width: 28.4rem;
    float: right;
    clear:right;
    padding-left:.5rem;
  }

  p {
    padding-left:.5rem;
    padding-right: 1em;
    max-width: 28.4rem;
    clear: right;
    float: right;
  }
  @media(min-width: 1040px) {
    .clearfix {
      // padding-right: 4em;
      padding-right: 2%;
    }  
  }
  
}

.abs-holder {
  position: relative;
  height: 100%;
  width: 100%;

  .wrap-holder {
    // background-color:rgb(248,248,239); 
    position: absolute;
    // bottom: 54%;
    // bottom: 60%;
    top:0;
    width: 100%;
  }
}

.plus-sign {
  position: relative;
  max-width: 7.5em;
  margin-left:.8em;
  &:after {
    content: "";
    display: block;
    background-image: url("../../../../../img/plus-sign.png");
    width: 1.65rem;
    height: 1.65rem;
    top: 0;
    bottom: 0;
    position: absolute;
    margin: auto;
    left: -.8em;
    background-size: cover;
    background-repeat: no-repeat;

    @media(min-width: 1200px) {
      width: 2.4rem;
      height: 2.4rem;
    }

    @media(min-width: 1340px) {
      width: 3rem;
      height: 3rem;
    }
  }
}

.sol-holder {
  background-color: rgb(61,61,61);
  margin-top:70px;

  .new-home-wrap {
    height: 500px;
    top:23%;
  bottom:auto;
  }
}


/// NEW STYLES

.carr,
.smart {
  .clearfix {
    p {
      margin-bottom:1.8rem;
    }
  }
  .gbtn-holders {
    float: right;
    width: 100%;
    width: 28.4rem;
    padding-left:.5rem;
    clear: right;
    .gamut-btn {
      margin-left:0;
    }
  }
}

.smart {
  .gbtn-holders {
    clear: left;
    float: left;
    padding-left: 0;
  }
  p {
    margin-bottom: 1.8rem;
  }
}

#group5 .gamut-btn {
  margin-left: 11%;
}

.pad {

  #group1 {
    max-height: none;
      height: 0px;
     padding-bottom:50%;

     @media(min-width: 1600px) {
      padding-bottom: 800px;
     }
  }


  #group2 {
    max-height: none;
      height: 0px;
     padding-bottom:35.5%;

     @media(min-width: 1600px) {
      padding-bottom: 568px;
     }
  }

  #group3 {
    max-height: none;
      height: 0px;
     padding-bottom:32.5%;

     @media(min-width: 1600px) {
      padding-bottom: 520px;
     }
  }

  .subpage {
    // padding-bottom: 27.5%;
    // @media(min-width: 1600px) {
    //   padding-bottom: 440px;
    //  }
  }

  #group3 {
    max-height: none;
    height: 0px;
    padding-bottom:32.5%;

     @media(min-width: 1600px) {
      padding-bottom: 520px;
    }
  }
}

